asgiref
contourpy
cycler
Django
django-admin-interface
django-colorfield
fonttools
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
python-slugify
pytz
PyYAML
render
scikit-learn
scipy
seaborn
six
sqlparse
text-unidecode
threadpoolctl
